* {
    font: 20px "Monospace";
}

window, treeview, notebook box {
    color: #FFFFFF;
    background-color: #333333;
}

treeview.view:selected {
    background-color: #4A90D9;
}

notebook {
    border-color: #333333;
}

scrollbar slider {
    min-width: 20px;
    min-height: 20px;
}

separator {
    background-color: #FFFFFF;
}
